<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
	<title>Cadastro</title>
</h:head>
<h:body>
	<h:form id="mainForm">
		<p:messages id="messages" />

		<f:metadata>
			<f:viewParam name="id" value="#{JogadorMB.id_torneio}" />
			<f:viewAction action="#{JogadorMB.init}" />
		</f:metadata>

		<p:panel header="Cadastro de Jogador">
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel for="id" value="ID:" />
				<p:spinner readonly="true" id="id" value="#{JogadorMB.jogador.id}" />

				<p:outputLabel for="nomeJogador" value="Nome:" />
				<p:spinner id="nomeJogador" value="#{JogadorMB.jogador.nomeJogador}" />

				<p:outputLabel for="nomeFantasia" value="Nome Fantasia:" />
				<p:spinner id="nomeFantasia"
					value="#{JogadorMB.jogador.nomeFantasiaJogador}" />

				<p:outputLabel for="cpf" value="CPF:" />
				<p:spinner id="cpf" value="#{JogadorMB.jogador.cpf}" />

				<p:outputLabel for="telefone" value="Telefone:" />
				<p:spinner id="telefone" value="#{JogadorMB.jogador.telefone}" />

				<p:outputLabel for="email" value="Email:" />
				<p:spinner id="email" value="#{JogadorMB.jogador.email}" />

				<p:commandButton value="Cadastrar" icon="ui-icon-star"
					action="#{JogadorMB.cadastraJogador}" update="messages">
				</p:commandButton>


			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>