<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
    <title>Cadastro Torneio</title>
</h:head>
<h:body>
    <h:form id="mainForm">
    	<p:messages id="messages" />
    	<p:panel header= "Cadastro de Torneio">
        <h:panelGrid columns="2" cellpadding="5">
       
        	<p:outputLabel for="id" value="ID:" />
                <p:spinner readonly="true" id="id" value="#{TorneioMB.torneio.id}" />
                
             <p:outputLabel for="nomeTorneio" value="Nome:" />
                <p:spinner id="nomeTorneio" value="#{TorneioMB.torneio.nomeTorneio}" /> 
                
             <p:outputLabel for="descricaoTorneio" value="Descricao:" />
                <p:spinner id="descricaoTorneio" value="#{TorneioMB.torneio.descricaoTorneio}" />   
             
              <p:outputLabel for="premioTorneio" value="Premiacao:" />
                <p:spinner id="premioTorneio" value="#{TorneioMB.torneio.premioTorneio}" />
                
              <p:outputLabel for="localTorneio" value="Local:" />
                <p:spinner id="localTorneio" value="#{TorneioMB.torneio.localTorneio}" />  
        	
           <p:commandButton  value="Cadastrar" icon="ui-icon-star" 
                 action="#{TorneioMB.cadastraTorneio}" update="messages">
                </p:commandButton>
  
  
        </h:panelGrid>
        </p:panel> 
    </h:form>
</h:body>
</html>