<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">
  
<h:head>
  
</h:head>
  
<h:body>
     <h:form>
          <p:dataTable var="torneio" value="#{TorneioMB.torneios}">
                <p:column headerText="Id">
                     <h:outputText value="#{torneio.id}" />
                </p:column>
  
                <p:column headerText="Nome">
                     <h:outputText value="#{torneio.nomeTorneio}" />
                </p:column>
  
                <p:column headerText="Descricao">
                     <h:outputText value="#{torneio.descricaoTorneio}" />
                </p:column>
  
                <p:column headerText="Premiacao">
                     <h:outputText value="#{torneio.premioTorneio}" />
                </p:column>
                 
                <p:column headerText="Local">
                     <h:outputText value="#{torneio.localTorneio}" />
                </p:column>  
                
                <p:column headerText="Opcao">
                     <p:link outcome="index" value="Cadastrar Jogador">
    					<f:param name="id" value="#{torneio.id}" /> />
					 </p:link>
                </p:column>  
                             
          </p:dataTable>
  
  
     </h:form>
</h:body>
</html>